*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  /* font: inherit;  */
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  max-width: 100%;
  display: block;
}

#root {
  height: 100vh;
  background-color: #000;
  position: relative;
  z-index: 0;
}

/* Points container */
.container {
  height: 100%;
}

/* Points */
.point {
  border-radius: 50%;
  background: rgb(97, 101, 101);
  background: radial-gradient(
    circle,
    rgba(97, 101, 101, 1) 0%,
    rgba(52, 53, 54, 1) 100%
  );
  position: absolute;
  height: 15px;
  width: 15px;
  z-index: -1;
}

/* Buttons */
.buttonContainer {
  position: fixed;
}

button {
  padding: 8px 16px;
  cursor: pointer;
}
